@import "styles/utils";

.headlineArticle {
  &.headline {
    .header {
      margin-bottom: 24px;

      @include media(">desktop") {
        margin-bottom: 28px;
      }
    }

    .image {
      height: 300px;
    }

    .title {
      font-size: 40px;
      line-height: 40px;
      color: var(--title-color);
      margin-bottom: 16px;

      @include media(">desktop") {
        font-size: 56px;
        line-height: 56px;
      }
    }

    .body {
      @include media(">desktop") {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
      }
    }
  }

  &.default {
    .header {
      margin-bottom: 24px;
    }

    .title {
      font-size: 20px;
      line-height: 24px;
      color: var(--white-color);
      margin-bottom: 8px;
    }

    .description {
      color: var(--subtitle-color);
    }
  }

  &.order {
    display: flex;

    .header {
      width: 100px;
      height: 129px;
      margin-right: 24px;
    }

    .image {
      height: 129px;
    }

    .body {
      flex: 1;
    }

    .title {
      font-size: 18px;
      line-height: 24px;
      color: #00001A;
      margin-bottom: 9px;

      &::before {
        display: block;
        font-weight: 700;
        font-size: 32px;
        line-height: 32px;
        color: #C5C6CE;
        content: "0" counter(orderedArticles);
        margin-bottom: 12px;
      }
    }
  }

  .header {
    display: flex;

    .image {
      width: 100%;
      object-fit: cover;
    }
  }

  .body {
    .title {
      font-weight: 800;
    }

    .description {

    }

    .footer {
      margin-top: 24px;

      @include media(">desktop") {
        margin-top: 29px;
      }
    }
  }
}
