
.button {
  width: 185px;
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

  &.primary {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 4.375px;
    color: var(--white-color);
    background: var(--primary-color);
  }
}
