html {
  // Colors
  // Base Color
  --white-color: hsl(36, 100%, 99%);

  // Primary Color
  --primary-color: hsl(5, 85%, 63%);

  // Neutral Colors
  --neutral-color: hsl(236, 13%, 42%);

  --section-title-color: hsl(35, 77%, 62%);
  --title-color: hsl(240, 100%, 5%);
  --subtitle-color: hsl(233, 8%, 79%);
  --box-color: hsl(240, 100%, 5%);
  --background-color: var(--white-color);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 15px;
  line-height: 26px;
  color: var(--neutral-color);
  background: var(--background-color);
}

body {
  min-height: 1024px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
