@import "styles/utils";

.menu {
  position: relative;

  &.open {
    .overlay {
      visibility: visible;
      opacity: 0.5;
    }

    .menuList {
      right: 0;
      visibility: visible;
      transform: translateX(0);
    }
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00001A;
    mix-blend-mode: normal;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.3s, opacity 0.3s ease-in;

    @include media(">desktop") {
      display: none;
    }
  }

  .menuList {
    position: fixed;
    top: 0;
    right: 0;
    min-width: 256px;
    height: 100%;
    min-height: 669px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: var(--background-color);
    list-style: none;
    transform: translateX(100%);
    visibility: hidden;
    transition: visibility 0.3s, transform 0.3s ease-in;
    padding: 120px 29px 144px 24px;

    @include media(">desktop") {
      position: relative;
      width: auto;
      height: initial;
      min-height: initial;
      flex-direction: row;
      gap: 40px;
      visibility: visible;
      transform: initial;
      opacity: 1;
      padding: 0px;
      transition: none;
    }

    .closeMenuItem {
      @include media(">desktop") {
        display: none;
      }
    }

    .menuItem {
      font-size: 18px;
      line-height: 24px;
      color: var(--title-color);

      @include media(">desktop") {
        font-size: 15px;
        line-height: 26px;
        color: var(--neutral-color);
        transition: color 0.3s;

        &:hover {
          color: var(--primary-color);
        }
      }
    }

    a {
      display: flex;
    }
  }

  .menuButton {
    background: transparent;
    border: none;
    cursor: pointer;

    @include media(">desktop") {
      display: none;
    }

    &.close {
      position: absolute;
      top: 27.3px;
      right: 20.8px;
    }
  }
}
